@font-face {
  font-family: "RoobertPRO";
  src: url("/fonts/RoobertPRO-Regular.woff2") format("woff2"),
       url("/fonts/RoobertPRO-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "RoobertPRO";
  src: url("/fonts/RoobertPRO-Medium.woff2") format("woff2"),
       url("/fonts/RoobertPRO-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "RoobertPRO";
  src: url("/fonts/RoobertPRO-SemiBold.woff2") format("woff2"),
       url("/fonts/RoobertPRO-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "RoobertPRO";
  src: url("/fonts/RoobertPRO-Bold.woff2") format("woff2"),
       url("/fonts/RoobertPRO-Bold.woff") format("woff");
  font-weight: 700;
}
