/*
focus-visible only applies focus styles for keyboard navigation / Do not remove
See https://www.sarasoueidan.com/blog/focus-indicators/ for more info
*/
a:focus-visible, button:focus-visible {
  outline: 2px solid #00dc82;
  outline-offset: 2px;
}
