/*
focus-visible only applies focus styles for keyboard navigation / Do not remove
See https://www.sarasoueidan.com/blog/focus-indicators/ for more info
*/
a:focus-visible, button:focus-visible {
  outline: 2px solid #00dc82;
  outline-offset: 2px;
}

code {
  word-break: break-all;
}

hr {
  @apply u-border-gray-200;
}

.nuxt-scrollbars {
  & ::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    @apply bg-transparent;
  }

  & ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  & ::-webkit-scrollbar-thumb {
    border-radius: 0.6em;
    @apply bg-gray-300 hover:bg-gray-400;
  }

  &.dark {
    & ::-webkit-scrollbar-track {
      @apply bg-gray-800;
    }

    & ::-webkit-scrollbar-thumb {
      @apply bg-gray-700 hover:bg-gray-600;
    }
  }
}
