.dark:root {
  color-scheme: dark;
  /* DocSearch */
  --docsearch-primary-color: #00dc82!important;
  --docsearch-text-color: rgb(245, 246, 247);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: rgb(21, 23, 42);
  --docsearch-modal-shadow: inset 1px 1px 0 0 rgb(44, 46, 64),
    0 3px 8px 0 rgb(0, 3, 9);
  --docsearch-searchbox-background: rgb(9, 10, 17);
  --docsearch-searchbox-focus-background: #000;
  --docsearch-hit-color: rgb(190, 195, 201);
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: rgb(9, 10, 17);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    rgb(86, 88, 114) 0%,
    rgb(49, 53, 91) 100%
  );
  --docsearch-key-shadow: inset 0 -2px 0 0 rgb(40, 45, 85),
    inset 0 0 1px 1px rgb(81, 87, 125), 0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-footer-background: rgb(30, 33, 54);
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  --docsearch-logo-color: rgb(255, 255, 255);
  --docsearch-muted-color: rgb(127, 132, 151);
}

.DocSearch-Input:focus {
  outline: none;
  box-shadow: none;
}

/*
focus-visible only applies focus styles for keyboard navigation / Do not remove
See https://www.sarasoueidan.com/blog/focus-indicators/ for more info
*/
a:focus-visible, button:focus-visible {
  outline: 2px solid #00dc82;
  outline-offset: 2px;
}

hr {
  @apply border-gray-200 dark:border-gray-800;
}

.nuxt-scrollbars {
  & ::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    @apply bg-transparent;
  }

  & ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  & ::-webkit-scrollbar-thumb {
    border-radius: 0.6em;
    @apply bg-gray-300 hover:bg-gray-400;
  }

  &.dark {
    & ::-webkit-scrollbar-track {
      @apply bg-gray-800;
    }

    & ::-webkit-scrollbar-thumb {
      @apply bg-gray-700 hover:bg-gray-600;
    }
  }
}

.prose :deep(div:first-child h1:first-child) {
  @apply mt-0 text-2xl font-semibold tracking-tight text-gray-900 dark:text-gray-100 sm:text-3xl;
}
.prose :deep(div:first-child h1:first-child + p) {
  @apply mt-0 mb-8 sm:text-lg text-gray-400 pb-8 border-b border-gray-700;
  & a {
    @apply text-gray-400 hover:border-gray-700;
  }
}

.prose {
  max-width: 100%;
}
