:root {
  --twoslash-popup-bg: var(--color-neutral-800);
  --twoslash-popup-color: var(--color-neutral-300);
  --twoslash-docs-color: inherit;
  --twoslash-docs-font: inherit;
  --twoslash-code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --twoslash-underline-color: #8888;
  --twoslash-border-color: var(--color-neutral-700);
  --twoslash-cursor-color: var(--color-primary-500);
  --twoslash-matched-color: var(--color-primary-500);
}

html:not(.dark) {
  --twoslash-popup-bg: var(--color-neutral-100);
  --twoslash-popup-color: var(--color-neutral-600);
  --twoslash-border-color: var(--color-neutral-300);
}

.twoslash-popup-container .twoslash-popup-code {
  font-size: 0.9em;
}

.twoslash-popup-container .twoslash-popup-code .line {
  display: block;
}

.twoslash-popup-container .shiki .line {
  --shiki-default-bg: transparent;
  --shiki-dark-bg: transparent;
}

.twoslash-floating .twoslash-popup-docs-tags .twoslash-popup-docs-tag-name {
  color: inherit;
  opacity: 0.5;
}
