:root {
  --vp-c-bg: var(--color-neutral-800);
  --vp-c-text-1: var(--color-neutral-300);
  --vp-c-text-2: var(--color-neutral-400);
  --vp-c-border: var(--color-neutral-700);
  --vp-c-brand: var(--color-primary-500);
  --vp-font-family-base: inherit;
  --vp-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --vp-code-font-size: 1em;
  --vp-z-index-local-nav: 10;
}

html:not(.dark) {
  --vp-c-bg: var(--color-neutral-100);
  --vp-c-text-1: var(--color-neutral-600);
  --vp-c-text-2: var(--color-neutral-500);
  --vp-c-border: var(--color-neutral-300);
}

.twoslash-popup-container .twoslash-popup-code {
  font-size: 0.9em;
}

.twoslash-popup-container .twoslash-popup-code .line {
  display: block;
}

.twoslash-popup-container .shiki .line {
  --shiki-default-bg: transparent;
  --shiki-dark-bg: transparent;
}

.twoslash-floating .twoslash-popup-docs-tags .twoslash-popup-docs-tag-name {
  color: inherit;
  opacity: 0.5;
}
