name: e2e

on:
  workflow_dispatch:
    inputs:
      url:
        required: false
        description: The URL to run the test suite against. If omitted, it runs against all.
        type: string
  deployment_status:

jobs:
  lighthouse:
    environment:
      name: ${{ github.event.deployment.environment || 'Production' }}
      url: ${{ github.event.inputs.url || github.event.deployment_status.environment_url }}
    if: github.event.deployment_status.state == 'success' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: ${{ github.event.inputs.url || github.event.deployment_status.environment_url }}
          uploadArtifacts: true
          temporaryPublicStorage: true
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}

  warmup:
    environment:
      name: ${{ github.event.deployment.environment || 'Production' }}
      url: ${{ github.event.inputs.url || github.event.deployment_status.environment_url }}
    if: github.event.deployment_status.state == 'success' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - name: warmup jobs, sponsors and modules
        run: |
          curl -sS $BASE_URL/api/jobs
          curl -sS $BASE_URL/api/sponsors
          curl -sS $BASE_URL/api/v1/modules
        env:
          BASE_URL: ${{ github.event.inputs.url || github.event.deployment_status.environment_url }}
